<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi!</p>
        <p>Your temporary username is {{name}}</p>
        <p>Welcome to Project13</p>
    </body>
</html>